.vs
*.sdf
sdk/obj
**/ipch
tests/test_docs/landmark_tests/simRuns/~$Values.xlsx
tests/test_docs/landmark_tests/simRuns/Values.xlsx
tests/test_docs/landmark_tests/newSIMAS/~$New Microsoft Excel Worksheet.xlsx
